body {
    margin: 0;
    background: url("../imagen/hoja.png") center center fixed;
    background-size: cover;
    background-color: black;
}

section {
    margin-left: 15%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(94, 95, 95);
    position: fixed;
    top: 0;
    height: 100%;
    font-size: 25px;
    text-align: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
}

li a.INICI {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

li a:hover:not(.INICI) {
    background-color: rgb(158, 157, 157);
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px black;
    text-align: center;
    top: 0;
}
h2 {
    font-family: cursive;
    color: rgb(78, 64, 32);
}

p {
    font-size: 20px;
    color: rgb(53, 78, 145);
    font: oblique bold 20px cursive;
}

.soltar {
    background-color: rgb(94, 95, 95);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.desplegable {
    position: static;
    display: inline;
    width: 15%;
}

.contenido {
    display: none;
    position: absolute;
    text-align: left;
    background-color: rgb(158, 157, 157);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div a:hover:not(.contenido) {
    background-color: rgb(168, 168, 168);
    color: rgb(224, 37, 37);
}

.desplegable:hover .contenido {
    display: inline-block
}

.desplegable:hover .soltar {
    background-color: rgb(158, 157, 157);
    color: white;
}

.serguei {
    float: right;
    width: 30%;
    border: 4px solid white;
}